*{  
    margin: 0px;
    padding: 0px;
}
.main{
    background-color: #f2f4f7;
    height: 500px;
    display: block;
    text-align: center;
    position: relative;
    
    

}

.submain{
    position: absolute;
    animation-name: ghf;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}



img{
    margin-top: 2%;
    margin-right: 1%;
    width: 240px;
}


.log{
    
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight:lighter;
    padding: 2px;
    display: block;
    height: 325px;
    width: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #ffffff;
    text-align: center;
    gap: 10px;

    margin: auto;

}


button{
    color: #ffffff;
    background-color: #1877f2;
    display: block;
    margin:auto;
    gap: 20px;
    width: 300px;
    height: 50px;
    padding:0 16px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
input[type="text"],[type="password"]{
    display: block;
    margin: auto;
    padding-left:13px;
    border: 1px solid grey;
    border-radius: 6px;
    font-size: 16px;
    width: 300px;
    height: 50px;
}


@keyframes ghf{
0%{
    left: -400px;
    top: 50px;
}
100%{
    left: 450px;
    top: 50px;
}
}


